* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFF5ED;
}

.backgroundpicture{
    margin: 0;
    padding: 0;
    height: 650px;
    background-image: url('img/baggrund.png'); /* Sti til dit billede */
    background-size: cover; /* Skaler billedet, så det dækker hele baggrunden */
    background-position: center; /* Centrer billedet på baggrunden */
    background-repeat: no-repeat; /* Forhindre gentagelse af billedet */
    background-attachment: fixed;
    position: relative; /* Indstil positionen til relativ, så vi kan positionere .textbox inde i den */
}

.logo{
    width: 180px;
}

.nav-links{
    float: right;
}

.nav-links li{
    padding: 50px;
}
.navbar {
    position: fixed;
    top: 0; /* Fastgør navigationsbjælken øverst på siden */
    width: 100%; /* Sæt bredden til 100% af skærmbredden */
    z-index: 1000; /* Sørg for, at navigationsbjælken ligger øverst */
    background-color: #FFF5ED;
}
/* Style the unordered list */
.navbar ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
}

/* Style the list items */
.navbar li {
    display: inline-block; /* Display list items inline */
}

/* Style the navigation links */
.navbar a {
    display: block; /* Make the links block elements */
    color: rgb(0, 0, 0); /* Text color */
    text-decoration: none; /* Remove underlines from links */
    font-size: 25px;
}

/* Change color of links on hover */
.navbar a:hover {
    color: #B6312D; /* Change text color on hover */
}

.textbox {
    position: absolute; /* Indstil positionen til absolut, så vi kan positionere den inden i .backgroundpicture */
    top: 50%; /* Placer .textbox 50% fra toppen af .backgroundpicture */
    left: 25%; /* Placer .textbox 50% fra venstre side af .backgroundpicture */
    transform: translate(-50%, -50%); /* Centrer .textbox både vandret og lodret */
    text-align: center; /* Centrer teksten inde i .textbox */
    padding: 20px; /* Juster polstring efter behov */
    background-color: #B6312D;
    opacity: 85%;
    max-width: 600px; /* Begræns bredden af .textbox */
    color: white;
}

h1 {
    font-size: 2.5em; /* Juster skriftstørrelsen efter behov */
    margin-bottom: 20px; /* Juster afstanden mellem overskrift og afsnit efter behov */
}

p {
    font-size: 1.2em; /* Juster skriftstørrelsen efter behov */
    line-height: 1.5; /* Juster linjeafstanden efter behov */
}

.ikoner {
    margin-top: 20px;
    display: flex; /* Brug flexbox til at placere divs ved siden af hinanden */
    justify-content: space-around; /* Juster indholdets placering for at opnå ønsket afstand */
    align-items: center; /* Centrer indholdet lodret */
}
.ikoner h3 {
    margin-top: 0; /* Fjern standardmargen for h4 */
}

.ikoner div {
    text-align: center; /* Centrer indholdet i hver div vandret */
    width: 200px; /* Juster bredden af hver div efter behov */
    margin: 30px; /* Tilføj margen omkring hver div for at adskille dem */
    vertical-align: top;
}


.ikon-img{
    width: 100px;
    margin: 20px;
}