/*ændre default settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*skifte baggrundsfarve*/
body{
    background-color: #FFF5ED;
}

/* gøre baggrundsbilledet fixed, relative og fylde hele skærmen*/
.backgroundpicture{
    margin: 0;
    padding: 0;
    height: 650px;
    background-image: url('img/baggrund.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

/*ændre størrelse på logo*/
.logo{
    width: 180px;
}

/*ændre på udseendet af nav-bar. give padding, float, with*/
.nav-links{
    float: right;
}

.nav-links li{
    padding: 50px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #FFF5ED;
}
/* Style unordered list */
.navbar ul {
    list-style-type: none;
    padding: 0;
}

/* Style list items */
.navbar li {
    display: inline-block;
}

/* Style navigation links */
.navbar a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
}

/* ændre farven ved hover */
.navbar a:hover {
    color: #B6312D;
}

/*style tekstboxen så den er i højre side og centret*/
.textbox {
    position: absolute; 
    top: 60%; 
    left: 25%; 
    transform: translate(-50%, -50%);
    text-align: center; 
    padding: 20px; 
    background-color: #B6312D;
    opacity: 85%;
    max-width: 600px; 
    color: white;
}

/*ændre font størrelse og udseende*/
h1 {
    font-size: 2.5em; 
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.5; 
}

/*style ikoner med flexbox, space around og align */
.ikoner {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Fjern standardmargen for h4 */
.ikoner h3 {
    margin-top: 0;
}

/*centrer indhold, juster størrelse på div*/
.ikoner div {
    text-align: center; 
    width: 200px; 
    margin: 30px; 
    vertical-align: top;
}


.ikon-img{
    width: 100px;
    margin: 20px;
}

/*Favoritkassen start*/
/* Container styling */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Favorite Box styling */
.favorite-box {
    background-color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

.favorite-box button {
    background-color: #ff0000;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

/* Recipe styling */
.recipe {
    padding: 2rem 0;
    text-align: center;
}

.recipe-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.recipe-item {
    position: relative;
}

.recipe-item img {
    width: 100%;
    border-radius: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 0, 0, 0.5);
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.recipe-item:hover .overlay {
    opacity: 1;
}

.overlay h3, .overlay p {
    margin: 0;
}
/*Favoritkassen slut*/
