/*ændre default settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*skifte baggrundsfarve*/
body{
    background-color: #FFF5ED;
}

/* gøre baggrundsbilledet fixed, relative og fylde hele skærmen*/
.backgroundpicture{
    margin: 0;
    padding: 0;
    height: 650px;
    background-image: url('img/baggrund.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

/*ændre størrelse på logo*/
.logo{
    width: 180px;
}

/*ændre på udseendet af nav-bar. give padding, float, with*/
.nav-links{
    float: right;
}

.nav-links li{
    padding: 50px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #FFF5ED;
}
/* Style unordered list */
.navbar ul {
    list-style-type: none;
    padding: 0;
}

/* Style list items */
.navbar li {
    display: inline-block;
}

/* Style navigation links */
.navbar a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
}

/* ændre farven ved hover */
.navbar a:hover {
    color: #B6312D;
}

/*style tekstboxen så den er i højre side og centret*/
.textbox {
    position: absolute; 
    top: 60%; 
    left: 25%; 
    transform: translate(-50%, -50%);
    text-align: center; 
    padding: 20px; 
    background-color: #B6312D;
    opacity: 85%;
    max-width: 600px; 
    color: white;
}

/*ændre font størrelse og udseende*/
h1 {
    font-size: 2.5em; 
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.5; 
}

/*style ikoner med flexbox, space around og align */
.ikoner {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Fjern standardmargen for h4 */
.ikoner h3 {
    margin-top: 0;
}

/*centrer indhold, juster størrelse på div*/
.ikoner div {
    text-align: center; 
    width: 200px; 
    margin: 30px; 
    vertical-align: top;
}


.ikon-img{
    width: 100px;
    margin: 20px;
}

/*indsæt baggrundbillede der dækker siden og er fixed og relative*/
.nemtsection{
    margin: 30px 0px;
    padding: 0;
    height: 650px;
    background-image: url('img/baggrund2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    position: relative;
}

/*style tekstboxen ovenpå billedet*/
.nemtbox{
    position: absolute;
    top: 0%; 
    right: 0%; 
    text-align: center; 
    padding: 20px;
    background-color: #B6312D;
    width: 600px;
    color: white;
}